* {
  font-weight: 400;
}

body, html {
  background: #fff;
  font-family: 'helvetica neue', helvetica, arial;
}

body {
  padding: 5%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  // margin: 0px;
}

p {
  margin: 0px 0px 10px 0px;
}

[contentEditable] {
  border-bottom: dashed 2px rgba(0,0,0,0.15);
  outline: 0;
  padding-bottom: 3px;
  font-weight: 300;

  &:focus {
    border-color: red;
    font-weight: 500;
    // color: red;
  }
}

img {
  width: 300px;
}

[namespace] {
  width: 100%;
  clear: both;
}

.animal {
  float: left;
  margin-right: 20px;
}


// @import 'highlight'
